@model OnlineStudentTeacherCollabAppp.Models.ViewModel.CategoryPostVM
@{
    ViewBag.Title = "CreatePost";
}






<style>

    .center_div {
        margin: 0 auto;
        width: 40% /* value of your choice which suits your alignment */
    }
</style>

<div class=" container center_div">

    <form action="" method="post">
        <h2>Update Post</h2>

        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="Title" value="@Model.Post.Title" placeholder="Enter the post">
            @Html.ValidationMessage("Title", htmlAttributes: new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Category</label>


            <select class="form-control" name="Category_id">
                <option value="null" style="display: none" selected disabled>Choose Category</option>
                @foreach (var ctg in Model.Categories)
                {
                    <option value="@ctg.Id" @(Model.Post.Category_id == ctg.Id ? "selected" : "")>
                        @ctg.Name
                    </option>
                }

            </select>
            @Html.ValidationMessage("Category_id", htmlAttributes: new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="Description" placeholder="Write your problem here">@Model.Post.Description</textarea>
            @Html.ValidationMessage("Description", htmlAttributes: new { @class = "text-danger" })
        </div>

        <!--<select class="form-control" name="Status">
        <option value="null" style="display: none" selected disabled>Choose Status</option>-->
        @* @foreach (var ctg in Model.PostsList)
        {
            <option value="@ctg.Id" @(Model.Post.Status == ctg.Status ? "selected" : "")>
                @ctg.Status
            </option>
        }

        </select>*@

        <input type="hidden" name="Status" value="@Model.Post.Status" />


        <input type="hidden" name="User_id" value="@Session["CurrentUserid"]" />
        <br />
        <br />


        <button type="submit" class="btn btn-primary">Update</button>

    </form>

</div>

