@model OnlineStudentTeacherCollabAppp.Models.ViewModel.CategoryPostVM 
@{
    ViewBag.Title = "PopulatePostTable";
}

@*table table-condensed table-hover table-striped active*@

<h2>All Post </h2>

<table id="example" class="table table-striped table-bordered table-hover" style="width:100% ">
    <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Category</td>
            <td>Status</td>
            <td>Author</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.PostsList)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>


            <td>
               
                @foreach (var ctg in @Model.Categories)
                {

                    @(item.Category_id == ctg.Id ? @ctg.Name : "")


                }

            </td>

            <td>


                @if (item.Status == "Unpublished")
                {
                    <span class="badge " style="background-color: #d43f3a;">Pending</span>
                }
                else
                {
                    <a href="#" class="badge" style="background-color: #398439;">Approved</a>
                }

                
            </td>

            <td>
                @foreach (var u in @Model.UsersList)
                {

                    @(item.User_id == u.Id ? @u.Name : "")


                }
            </td>

            <td>
                <a class="btn btn-success" href="/AdminPost/Edit/@item.Id" data-toggle="tooltip" data-placement="top" title="Edit"><i class="far fa-edit"></i></a> &nbsp;|

                <form method="post" id="delete-form-@item.Id" action="/AdminPost/Delete/@item.Id" style="display: none;">
                </form>
                <a class="btn btn-danger" onclick="deleteFunc(@item.Id)" data-toggle="tooltip" data-placement="top" title="Delete"> <i class="fas fa-trash-alt"></i> </a>&nbsp;|

                <a class="btn btn-primary" href="/AdminPost/Details/@item.Id" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-eye"></i></a>&nbsp;|

                @if (item.Status == "Unpublished")
                {
                    <a class="btn btn-success" href="/AdminPost/Show/@item.Id" data-toggle="tooltip" data-placement="top" title="Click to Publish"><i class="fas fa-arrow-circle-down"></i></a>
                }
                else
                {
                    <a class="btn btn-danger" href="/AdminPost/Hide/@item.Id" data-toggle="tooltip" data-placement="top" title="Click to Unpublish"><i class="fas fa-arrow-circle-up"></i></a>
                }

            </td>
        </tr>
        }

    </tbody>

</table>


<style type="text/css">
    .table-hover tbody tr:hover td {
        background: #E6E6E7;
    }

    th {
        background-color: blue;
        color: white;
    }

    thead {
        background-color: #282A35;
        color: white;
    }
</style>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });

    </script>


    <script type="text/javascript">

        function deleteFunc(id) {
            event.preventDefault();

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "Data will be Deleted permanently ..!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Delete!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    event.preventDefault();
                    document.getElementById('delete-form-' + id).submit();
                    toastr.success("Deleted successfully..!", "Sucess");
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your Data is Safe :)',
                        'error'
                    )
                }
            })

        }


    </script>

}

